node_modules/
dist/
.env
.wwebjs_cache
.next
uploads
./api/node_modules/
./api/wwebjs_cache/
./api/uplaods/
.DS_Store
./web/.next/
./web/node_modules/
.vscode/
.claude
.idea/
coverage/
.env
./web/.env
./api/.env

